<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>EMSI - Gestion Scolaire</title>
    <!-- On pourra ajouter Bootstrap ici plus tard -->
    <style>
        .container { display: flex; }
        .sidebar { width: 250px; background: #f4f4f4; height: 100vh; padding: 20px; }
        .content { flex: 1; padding: 20px; }
    </style>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            {% include 'scolarite/sidebar.html' %}
        </div>
        <div class="content">
           
    {% block content %}
    {% endblock %}

        </div>
    </div>
</body>
</html>